body {
    font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #e0f7fa; 
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
legend {
    font-size: 18px;
    margin-bottom: 10px;
	font-family: "Playwrite GB S", serif;
	font-weight: bold;
	font-style: normal;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #888;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
}

button {
    background-color: #6a0dad; 
    color: white; 
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold; 
}


button:hover {
    background-color: #5a0ca8; 
}

input:focus, select:focus {
    border-color: #0077cc;
    outline: none;
}
